

<div class="about">
  <li><a href="{{ url_for('home') }}">Back to Home</a></li>

    <h1>My about page</h1>

    <p style="background-color: rgba(119, 155, 172, 0.55)">Quick testing</p>
    <div>
   <label for="dropdown">When do you usually drink coffee :</label>
   <select id="dropdown">
   <option value="Morning"> Morning </option>
   <option value="Afternoon">Afternoon</option>
   <option value="Evening">Evening</option>
   <option value="Night">Night</option>
   </select>
   </div>

   </div>
